*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* --white: #fff;
    --black: #000;
    --blackfade: #000000a2;
    --whiteBgOdd: rgb(240, 245, 218);
    --cyan: #0ff;
    --orange: #0ff;
    /* --orange: #F5B91D; 
    --shadowblue: #3B6CF5; */

    /* Backgrounds */
    --bg-cyan: #0B161A;
    --bg-cyan-soft: #101B20;

    /* Secondary text, links */
    --links-text-cyan: #4CCCE6;

    /* High-contrast text */
    --hight-ctr-txt-cyan: #B6ECF7;

    /* Borders and separators */
    --cyan-border-h: #045468;
    --cyan-border-m: #12677E;

    /* Borders, focus rings, disabled text */
    --cyan-border-s: #11809C;

    /* Solid backgrounds, disabled text */
    --cyan-solid-h: #00A2C7;
    --cyan-solid-s: #23AFD0;

    /* Interactive components */
    --cyan-interactiveComp-h: #082C36;
    --cyan-interactiveComp-m: #003848;
    --cyan-interactiveComp-s: #004558;


    /* Backgrounds */
    --bg-amber: #16120C;
    --bg-amber-soft: #1D180F;

    /* Secondary text, links */
    --links-text-amber: #FFCA16;

    /* High-contrast text */
    --hight-ctr-txt-amber: #FFE7B3;

    /* Borders and separators */
    --amber-border-h: #5C3D05;
    --amber-border-m: #714F19;

    /* Borders, focus rings, disabled text */
    --amber-border-s: #8F6424;

    /* Solid backgrounds, disabled text */
    --amber-solid-h: #FFC53D;
    --amber-solid-s: #FFD60A;

    /* Interactive components */
    --amber-interactiveComp-h: #302008;
    --amber-interactiveComp-m: #3F2700;
    --amber-interactiveComp-s: #4D3000;

}

body {
    background: var(--bg-cyan-soft);
    font-family: roboto, sans-serif;
    color: var(--hight-ctr-txt-cyan);
}

nav {
    width: 100%;
    z-index: 3;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: transparent;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    border: none;
}

.logo {
    float: left;
    height: 60px;
    aspect-ratio: 1/1;
}

.logo::after {
    content: "";
    display: table;
    clear: both;
}

.logo img {
    height: 60px;
    aspect-ratio: 1/1;
}

nav ul li {
    display: inline-block;
}

.dropdown-services {
    position: relative;
}

.dropdown-services-content {
    display: none;
    position: absolute;
    min-width: 500px;
    padding: 10px;
    background-color: var(--bg-cyan-soft);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px var(--cyan-interactiveComp-h);
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
}

.dropdown-services-content a {
    color: var(--links-text-cyan);
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.dropdown-services-content a svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

.dropdown-services-content a span {
    text-align: left;
    flex: 80%;
}

.dropdown-services-content div {
    width: 50%;
}

.dropdown-services a:not(.dropdown-services>a):hover {
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);
}

.dropdown-services-content a::after {
    display: none;
}

.dropdown-services:hover .dropdown-services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-services-content a:active {
    background-color: var(--bg-cyan-soft);
    color: var(--links-text-cyan);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-cyan-soft);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px var(--cyan-interactiveComp-h);
    z-index: 3;
    backdrop-filter: blur(10px);
}

nav ul li a, .dropdown-content a {
    display: block;
    padding: 16px 18px;
    text-decoration: none;
    font-family: roboto, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--links-text-cyan);
    text-align: center;
    transition: 0.3s ease-in-out;
    line-height: normal;
    position: relative;
}

.actif {
    color: var(--cyan-solid-h);
    text-shadow: -1px 0 var(--cyan-border-h), 0 1px var(--cyan-border-h), 1px 0 var(--cyan-border-h), 0 -1px var(--cyan-border-h);
}

.actif::after {
    width: 100%;
}

#dc-first {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

#dc-first svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

#dc-first span {
    flex: 80%;
    text-align: center;
}

#dc-last {
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

#dc-last svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

#dc-last span {
    flex: 80%;
    text-align: center;
}

nav ul li a:hover {
    color: var(--cyan-solid-h);
}

nav ul li a::after{
    content: "";
    position: absolute;
    background-color: var(--cyan-solid-h);
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    transition: 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:active {
    color: var(--cyan-interactiveComp-h);
}

.dropdown-content a {
    color: var(--links-text-cyan);
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);
}

.dropdown-content a::after{
    display: none;
}

.dropdown-content a:active {
    background-color: var(--cyan-interactiveComp-h);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-design {
    position: relative;
}

.dropdown-design:hover .dropdown-design-content {
    display: block;
}

.dropdown-design-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-cyan-soft);
    border-radius: 10px;
    box-shadow: 5px 10px 15px 0px var(--cyan-interactiveComp-h);
    z-index: 3;
    backdrop-filter: blur(10px);
}

.dropdown-code {
    position: relative;
}

.dropdown-code:hover .dropdown-code-content {
    display: block;
}

.dropdown-code-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-cyan-soft);
    border-radius: 10px;
    box-shadow: 5px 10px 15px 0px var(--cyan-interactiveComp-h);
    z-index: 3;
    backdrop-filter: blur(10px);
}

#hire {
    border: 3px solid var(--cyan-border-h);
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);   
    text-shadow: none;
    border-radius: 50px;
    padding: 5px 15px;
    box-shadow: 0 0 15px 0 var(--cyan-interactiveComp-s);
}

#hire:hover {
    color: var(--links-text-cyan);
    background-color: var(--bg-cyan-soft);
    text-shadow: 0 0 15px var(--cyan-interactiveComp-m);
}

#hire:hover::after {
    width: 0;
}

#hire:active {
    box-shadow: 0px 0px 7px 0px var(----cyan-interactiveComp-s);
    transform: scale(0.95);
}

#end-ul {
    float: right;
}

.stack {
    display: none;
    aspect-ratio: 1/1;
    width: 40px;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
}

.stack div {
    height: 4px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    background-color: var(--cyan-solid-h);
    transition: .3s ease;
}

.stack:hover div {
    background-color: var(--cyan-solid-s);
}

.stack.active #stack_t {
    transform: rotate(45deg);
    top: calc(50% - 2px);
}

.stack.active #stack_m {
    opacity: 0;
}

.stack.active #stack_b {
    transform: rotate(-45deg);
    bottom: calc(50% - 2px);
}

#stack_t {
    top: 2px;
}

#stack_m {
    top: calc(50% - 2px);
}

#stack_b {
    bottom: 2px;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 1280px) {


    nav {
        width: 100%;
        background-color: var(--bg-cyan-soft);
        transform: translateY(-800px);
        transition: transform 0.6s ease-out;
        position: relative;
        z-index: 2;
    }

    nav.active {
        transform: translateY(0);
    }

    nav ul {
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
        background-color: var(--bg-cyan-soft);
    }

    nav ul li {
        display: block;  
        background-color: var(--bg-cyan-soft);
    }

    nav ul li a{
        text-align: center;
        border-radius: 10px;
        font-size: 1.5em;
    }

    nav ul li a::after {
        display: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown-services:hover .dropdown-services-content {
        display: none;
    }

    #end-ul {
        float: none;
    }

    .logo {
        display: none;
    }

    .stack {
        display: block;
        z-index: 4;
    }

    .stack div {
        background: var(--cyan-solid-h);
    }
}


header {
    height: 50vh;
    /* background-color: var(--bg-cyan); */
    background: url('../../imgs/sercice-bg.svg') center no-repeat;
    background-size: cover;
    position: relative;
}

.titre {
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    background: #101b20a4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 1;
}

.titre h1 {
    font-size: 5em;
    color: var(--links-text-cyan);
    text-transform: uppercase;
}

@media screen and (max-width: 1280px){
    .titre {
        margin-top: 0px;
    }
}

.sec1 {
    background: var(--bg-cyan-soft);
    padding: 0 100px;
    margin-top: 100px;
}

.sec1 .centre {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.t-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    flex: 50%;
}

.t-right {
    display: flex;
    align-items: center;
    flex: 50%;
}

.sec1 h2 {
    font-size: 3em;
    color: var(--links-text-cyan);
}


.bottom h3 {
    color: var(--links-text-cyan);
}

.sec1 h3 {
    font-size: 2em;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.serv {
    width: 32%;
}

section:not(.sec1) .centre h2, section:not(.sec1) .centre h3 {
    color: var(--links-text-cyan);
}

@media screen and (max-width: 1024px){
    .sec1 {
        padding: 0 20px;
    }

    .serv {
        width: 30%;
    }

    .sec1 h2 {
        font-size: 2.2em;

    }

    .sec1 h3 {
        font-size: 1.5em;
    }

    .serv h3 {
        font-size: 1.5em;
    }

    .centre {
        flex-direction: column;
    }

}

@media screen and (max-width: 640px){

    section:not(.sec1, .sec7) {
        padding-left: 20px;
        padding-right: 20px;
    }

    section:not(.sec1, .sec7) img {
        width: 300px;
    }

    .sec1 h2 {
        font-size: 1.7em;
    }

    .sec1 p {
        font-size: 1em;
    }

    .titre h1 {
        font-size: 3em;
    }

    .serv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bottom {
        gap: 50px;
    }

}

.sec2 {
    background: var(--bg-cyan);
    padding: 0 100px;
    margin-top: 100px;
    color: var(--hight-ctr-txt-cyan);
    padding-top: 60px;
    padding-bottom: 60px;
}

.sec2 .centre {
    display: flex;
    gap: 50px;
    align-items: center;
}

.sec2-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec2-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2-right img {
    width: 500px;
}

.sec3 {
    padding: 0 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.sec3 .centre {
    display: flex;
    gap: 50px;
    align-items: center;
}

.sec3-left {
    display: flex;

}

.sec3-left img {
    width: 500px;
}

.sec3-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec4 {
    padding: 0 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--bg-cyan);
    color: var(--hight-ctr-txt-cyan);
}

.sec4 .centre {
    display: flex;
    gap: 50px;
    align-items: center;
}

.sec4-right {
    display: flex;

}

.sec4-right img {
    width: 500px;
}

.sec4-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec5 {
    padding: 0 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.sec5 .centre {
    display: flex;
    gap: 50px;
    align-items: center;
}

.sec5-left {
    display: flex;

}

.sec5-left img {
    width: 500px;
}

.sec5-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec6 {
    padding: 0 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--bg-cyan);
    color: var(--hight-ctr-txt-cyan);
}

.sec6 .centre {
    display: flex;
    gap: 50px;
    align-items: center;
}

.sec6-right {
    display: flex;

}

.sec6-right img {
    width: 500px;
}

.sec6-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section7 {
    padding: 0 100px 0 100px;
    font-family: roboto, sans-serif;
    margin-top: 60px;
}

.section7 h1 {
    font-size: 4em;
    margin-bottom: 20px;
    color: var(--links-text-cyan);
}

.section7 p:first-of-type {
    line-height: 2rem;
}

.section7 p span {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    color: var(--links-text-cyan);
}

.datas-block {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.datas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}


.datas>div {
    position: relative;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

.datas div .rounder {
    aspect-ratio: 1/1;
    display: block;
    width: 20px;
    border-radius: 50%;
    background: var(--cyan-solid-s);
    position: absolute;
    top: 0;
}

.datas div .rounder-btm {
    aspect-ratio: 1/1;
    display: block;
    width: 20px;
    border-radius: 50%;
    background: var(--cyan-solid-s);
    position: absolute;
    bottom: 0;
}

.datas div .line {
    width: 2px;
    background-color: var(--cyan-solid-s);
    margin: auto;
    display: block;
    height: 100%;
}

.datas:first-of-type p {
    grid-column: 1/2;
}

.datas:nth-of-type(2) p {
    grid-column: 3/4;
    grid-row: 1/2;
}

.datas:nth-of-type(3) p {
    grid-column: 1/2;
    grid-row: 1/2;
}

.datas:nth-of-type(4) p {
    grid-column: 3/4;
    grid-row: 1/2;
}

.datas:nth-of-type(5) p {
    grid-column: 1/2;
    grid-row: 1/2;
}

.datas:nth-of-type(6) p {
    grid-column: 3/4;
    grid-row: 1/2;
}

.sec7-end {
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px){
    .section7 {
        padding: 20px;
    }
}

@media screen and (max-width: 640px){
    .datas p {
        height: 200px;
        overflow-y: auto;
    }  
}

@media screen and (max-width: 800px){
    .centre img {
        width: 400px;
    }
}