*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --blackfade: #000000a2;
    --whiteBgOdd: rgb(240, 245, 218);
    /* --cyan: #0ff; */
    --orange: #0ff;
    --cyan: #F5B91D;
    /* --orange: #F5B91D; */
    --shadowblue: #3B6CF5;
}

body {
    background: var(--black);
}

nav {
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: transparent;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    border: none;
}

.logo {
    float: left;
    height: 60px;
    aspect-ratio: 1/1;
}

.logo::after {
    content: "";
    display: table;
    clear: both;
}

.logo img {
    height: 60px;
    aspect-ratio: 1/1;
}

nav ul li {
    display: inline-block;
}

.dropdown-services {
    position: relative;
}

.dropdown-services-content {
    display: none;
    position: absolute;
    min-width: 500px;
    padding: 10px;
    background-color: var(--blackfade);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px var(--black);
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
}

.dropdown-services-content a {
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.dropdown-services-content div {
    width: 50%;
}

.dropdown-services a:not(.dropdown-services>a):hover {
    background-color: var(--white);
    color: var(--black);
}

.dropdown-services-content a::after {
    display: none;
}

.dropdown-services:hover .dropdown-services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-services-content a:active {
    background-color: var(--cyan);
    color: var(--black);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    padding: 10px;
    background-color: var(--blackfade);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px var(--black);
    z-index: 3;
    backdrop-filter: blur(10px);
}

nav ul li a, .dropdown-content a {
    display: block;
    padding: 16px 18px;
    text-decoration: none;
    font-family: roboto, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--white);
    text-align: center;
    transition: 0.3s ease-in-out;
    line-height: normal;
    position: relative;
}

.actif {
    color: var(--cyan);
    text-shadow: -1px 0 var(--black), 0 1px var(--black), 1px 0 var(--black), 0 -1px var(--black);
}

.actif::after {
    width: 100%;
}

#dc-first {
    border-radius: 10px 10px 0 0;
}

#dc-last {
    border-radius: 0 0 10px 10px;
}

nav ul li a:hover {
    color: var(--cyan);
}

nav ul li a::after{
    content: "";
    position: absolute;
    background-color: var(--cyan);
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    transition: 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:active {
    color: var(--orange);
}

.dropdown-content a {
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: var(--white);
    color: var(--black);
}

.dropdown-content a::after{
    display: none;
}

.dropdown-content a:active {
    background-color: var(--cyan);
    color: var(--black);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-design {
    position: relative;
}

.dropdown-design:hover .dropdown-design-content {
    display: block;
}

.dropdown-design-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    padding: 10px;
    background-color: var(--blackfade);
    border-radius: 10px;
    box-shadow: 5px 10px 15px 0px var(--black);
    z-index: 3;
    backdrop-filter: blur(10px);
}

.dropdown-code {
    position: relative;
}

.dropdown-code:hover .dropdown-code-content {
    display: block;
}

.dropdown-code-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    padding: 10px;
    background-color: var(--blackfade);
    border-radius: 10px;
    box-shadow: 5px 10px 15px 0px var(--black);
    z-index: 3;
    backdrop-filter: blur(10px);
}

#hire {
    border: 3px solid var(--cyan);
    background-color: var(--cyan);
    color: var(--black);
    text-shadow: none;
    border-radius: 50px;
    padding: 5px 15px;
    box-shadow: 0 0 15px var(--cyan);
}

#hire:hover {
    color: var(--cyan);
    background-color: transparent;
}

#hire:hover::after {
    width: 0;
}

#hire:active {
    box-shadow: 0px 0px 7px 0px var(--cyan);
    transform: scale(0.95);
}

#end-ul {
    float: right;
}

.stack {
    display: none;
    aspect-ratio: 1/1;
    width: 40px;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
}

.stack div {
    height: 4px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    transition: .3s ease;
}

.stack:hover div {
    background-color: #0ff;
}

.stack.active #stack_t {
    transform: rotate(45deg);
    top: calc(50% - 2px);
}

.stack.active #stack_m {
    opacity: 0;
}

.stack.active #stack_b {
    transform: rotate(-45deg);
    bottom: calc(50% - 2px);
}

#stack_t {
    top: 2px;
}

#stack_m {
    top: calc(50% - 2px);
}

#stack_b {
    bottom: 2px;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (width <= 1280px) {

    nav {
        width: 100%;
        background-color: #333;
        transform: translateY(-800px);
        transition: transform 0.6s ease-out;
    }

    nav.active {
        transform: translateY(0);
    }

    nav ul {
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    nav ul li {
        display: block;  
        background-color: #333;
    }

    nav ul li a{
        text-align: center;
        border-radius: 10px;
        font-size: 1.5em;
    }

    nav ul li a::after {
        display: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown-services:hover .dropdown-services-content {
        display: none;
    }

    #end-ul {
        float: none;
    }

    .logo {
        display: none;
    }

    .stack {
        display: block;
        z-index: 1;
    }
}