*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* --white: #fff;
    --black: #000;
    --blackfade: #000000a2;
    --whiteBgOdd: rgb(240, 245, 218);
    /* --cyan: #0ff; */
    --orange: #0ff;
    --cyan: #F5B91D;
    /* --orange: #F5B91D; 
    --shadowblue: #3B6CF5; */

    /* Backgrounds */
    --bg-cyan: #0B161A;
    --bg-cyan-soft: #101B20;

    /* Secondary text, links */
    --links-text-cyan: #4CCCE6;

    /* High-contrast text */
    --hight-ctr-txt-cyan: #B6ECF7;

    /* Borders and separators */
    --cyan-border-h: #045468;
    --cyan-border-m: #12677E;

    /* Borders, focus rings, disabled text */
    --cyan-border-s: #11809C;

    /* Solid backgrounds, disabled text */
    --cyan-solid-h: #00A2C7;
    --cyan-solid-s: #23AFD0;

    /* Interactive components */
    --cyan-interactiveComp-h: #082C36;
    --cyan-interactiveComp-m: #003848;
    --cyan-interactiveComp-s: #004558;


    /* Backgrounds */
    --bg-amber: #16120C;
    --bg-amber-soft: #1D180F;

    /* Secondary text, links */
    --links-text-amber: #FFCA16;

    /* High-contrast text */
    --hight-ctr-txt-amber: #FFE7B3;

    /* Borders and separators */
    --amber-border-h: #5C3D05;
    --amber-border-m: #714F19;

    /* Borders, focus rings, disabled text */
    --amber-border-s: #8F6424;

    /* Solid backgrounds, disabled text */
    --amber-solid-h: #FFC53D;
    --amber-solid-s: #FFD60A;

    /* Interactive components */
    --amber-interactiveComp-h: #302008;
    --amber-interactiveComp-m: #3F2700;
    --amber-interactiveComp-s: #4D3000;

}

body {
    background: var(--bg-amber);
}

nav {
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: transparent;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    border: none;
}

.logo {
    float: left;
    height: 60px;
    aspect-ratio: 1/1;
}

.logo::after {
    content: "";
    display: table;
    clear: both;
}

.logo img {
    height: 60px;
    aspect-ratio: 1/1;
}

nav ul li {
    display: inline-block;
}

.dropdown-services {
    position: relative;
}

.dropdown-services-content {
    display: none;
    position: absolute;
    min-width: 500px;
    padding: 10px;
    background-color: var(--bg-amber-soft);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px var(--amber-interactiveComp-s);
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
}

.dropdown-services-content a {
    color: var(--links-text-amber);
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.dropdown-services-content a svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

.dropdown-services-content a span {
    text-align: left;
    flex: 80%;
}

.dropdown-services-content div {
    width: 50%;
}

.dropdown-services a:not(.dropdown-services>a):hover {
    background-color: var(--links-text-amber);
    color: var(--bg-amber-soft);
}

.dropdown-services-content a::after {
    display: none;
}

.dropdown-services:hover .dropdown-services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-services-content a:active {
    /* background-color: var(--cyan); */
    color: var(--amber-interactiveComp-s);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-amber-soft);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px var(--amber-interactiveComp-s);
    z-index: 3;
    backdrop-filter: blur(10px);
}

nav ul li a, .dropdown-content a {
    display: block;
    padding: 16px 18px;
    text-decoration: none;
    font-family: roboto, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--links-text-amber);
    text-align: center;
    transition: 0.3s ease-in-out;
    line-height: normal;
    position: relative;
}

.actif {
    color: var(--amber-solid-h);
    text-shadow: -1px 0 var(--amber-border-h), 0 1px var(--amber-border-h), 1px 0 var(--amber-border-h), 0 -1px var(--amber-border-h);
}

.actif::after {
    width: 100%;
}

#dc-first {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

#dc-first svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

#dc-first span {
    flex: 80%;
    text-align: center;
}

#dc-last {
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

#dc-last svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

#dc-last span {
    flex: 80%;
    text-align: center;
}

nav ul li a:hover {
    color: var(--amber-solid-h);
}

nav ul li a::after{
    content: "";
    position: absolute;
    background-color: var(--amber-solid-h);
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    transition: 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:active {
    color: var(--amber-interactiveComp-h);
}

.dropdown-content a {
    color: var(--links-text-amber);
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: var(--links-text-amber);
    color: var(--bg-amber-soft);
}

.dropdown-content a::after{
    display: none;
}

.dropdown-content a:active {
    background-color: var(--amber-interactiveComp-h);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-design {
    position: relative;
}

.dropdown-design:hover .dropdown-design-content {
    display: block;
}

.dropdown-design-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-amber-soft);
    border-radius: 10px;
    box-shadow: 5px 10px 15px 0px var(--amber-interactiveComp-s);
    z-index: 3;
    backdrop-filter: blur(10px);
}

.dropdown-code {
    position: relative;
}

.dropdown-code:hover .dropdown-code-content {
    display: block;
}

.dropdown-code-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-amber-soft);
    border-radius: 10px;
    box-shadow: 5px 10px 15px 0px var(--amber-interactiveComp-s);
    z-index: 3;
    backdrop-filter: blur(10px);
}

#hire {
    border: 3px solid var(--amber-border-s);
    background-color: var(--links-text-amber);
    color: var(--bg-amber-soft);
    text-shadow: none;
    border-radius: 50px;
    padding: 5px 15px;
    box-shadow: 0 0 15px var(--amber-interactiveComp-s);
}

#hire:hover {
    color: var(--links-text-amber);
    background-color: var(--bg-amber-soft);
}

#hire:hover::after {
    width: 0;
}

#hire:active {
    box-shadow: 0px 0px 7px 0px var(--amber-interactiveComp-s);
    transform: scale(0.95);
}

#end-ul {
    float: right;
}

.stack {
    display: none;
    aspect-ratio: 1/1;
    width: 40px;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
}

.stack div {
    height: 4px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    background-color: var(--amber-solid-h);
    transition: .3s ease;
}

.stack:hover div {
    background-color: var(--amber-solid-s);
}

.stack.active #stack_t {
    transform: rotate(45deg);
    top: calc(50% - 2px);
}

.stack.active #stack_m {
    opacity: 0;
}

.stack.active #stack_b {
    transform: rotate(-45deg);
    bottom: calc(50% - 2px);
}

#stack_t {
    top: 2px;
}

#stack_m {
    top: calc(50% - 2px);
}

#stack_b {
    bottom: 2px;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (width <= 1280px) {

    nav {
        width: 100%;
        background-color: var(--bg-amber-soft);
        transform: translateY(-800px);
        transition: transform 0.6s ease-out;
    }

    nav.active {
        transform: translateY(0);
    }

    nav ul {
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
        background-color: var(--bg-amber-soft);
    }

    nav ul li {
        display: block;  
        background-color: var(--bg-amber-soft);
    }

    nav ul li a{
        text-align: center;
        border-radius: 10px;
        font-size: 1.5em;
    }

    nav ul li a::after {
        display: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown-services:hover .dropdown-services-content {
        display: none;
    }

    #end-ul {
        float: none;
    }

    .logo {
        display: none;
    }

    .stack {
        display: block;
        z-index: 1;
    }
}



.section1 {
    padding: 0 100px;
    color: var(--hight-ctr-txt-amber);
}

h2 {
    font-family: roboto, sans-serif;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--links-text-amber);
}

h3 {
    font-family: roboto, sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}

.section1 p {
    font-family: roboto, sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    text-align: justify;
}

.section1 img {
    width: 600px;
    float: right;
    margin-left: 20px;
    transform: translateY(100px);
}

.section1::after {
    content: "";
    display: table;
    clear: both;
}

.center-sec1 a {
    text-decoration: none;
    color: var(--links-text-amber);
    font-size: 1.2em;
    font-weight: bolder;
}

@media screen and (max-width: 1280px){
    .section1 img {
        float: none;
        width: 500px;
        object-fit: contain;
        z-index: -1;
    }

    .center-sec1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 1024px){

    .center-sec1 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .section1 img {
        transform: translateY(0);
    }
}

@media screen and (max-width: 640px){

    .section1 {
        padding: 0 20px;
    }

    .section1 img {
        width: 200px;
    }
}

.section2 {
    padding: 0 100px;
    color: var(--hight-ctr-txt-amber);
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 100px;   
}

.section2 h3 {
    color: var(--links-text-amber);
}

.content {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.right {
    width: 50%;
    display: flex;
    align-items: center;
}

.descriptions a {
    text-decoration: none;
    color: var(--links-text-amber);
    font-size: 1.2em;
    font-weight: bolder;
}

.left {
    width: 50%;
    position: relative;
}

.section2 p {
    font-family: roboto, sans-serif;
    font-size: 1.3em;
    font-weight: 200;
}

.section2 img {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.section2 img:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.section2 img:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 800px){

    .content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .right {
        width: 100%;
    }
    
    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section2 img:nth-of-type(1) {
        position: static;
        align-self: flex-end;
    }
    
    .section2 img:nth-of-type(2) {
        position: static;
        align-self: flex-start;
    }
    
}

@media screen and (max-width: 640px){
    .section2 img {
        width: 200px;
    }

    .section2 {
        padding: 0 20px;
    }
    
  }

.section3 {
    padding: 0 100px;
    color: var(--hight-ctr-txt-amber);
    width: 100vw;
}

.section3 h3 {
    color: var(--links-text-amber);
}

.center {
    background: var(--bg-amber-soft);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0 var(--white);
}

.center p {
    font-family: roboto, sans-serif;
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    color: var(--hight-ctr-txt-amber);
}

@media screen and (max-width: 800px){

    .section3 .center {
        width: 100%;
        min-height: 400px;
    }

    .section3 .center p {
        font-size: 4em;
    }
    
}

@media screen and (max-width: 640px){
    .section3 .center p {
        font-size: 3em;
    }

    .section3 {
        padding: 0 20px;
    }
    
  }

.section4 {
    padding: 0 100px;
    color: var(--hight-ctr-txt-amber);
    width: 100vw;
    margin-top: 100px;
}

.section4 h2 {
    text-align: right;
    margin-right: 100px;
}

.section4 h3 {
    margin-bottom: 70px;
    text-align: right;
    margin-right: 100px;
}

/* Style du conteneur principal */
.carousel {
    overflow: hidden;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
  }
  
  /* Track contenant les slides */
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
  }
  
  /* Slides du carrousel */
  .carousel-slide {
    min-width: 25%;
    transition: transform 0.5s ease;
  }
  
  /* Case centrale de grande taille */
  .carousel-slide.large {
    min-width: 50%;
    transform: scale(1.2);
  }
  
  /* Styles pour les images */
  .carousel-slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 15px var(--bg-amber);
    object-fit: contain;
  }
  
  /* Style pour les slides de petite taille */
  .carousel-slide.small img {
    opacity: 0.6;
  }
  
  /* Animation pour agrandir les images au centre */
  .carousel-slide.large img {
    opacity: 1;
    transform: scale(.8);
    object-fit: contain;
  }

  @media screen and (max-width: 640px){
    .section4 {
        padding: 0 20px;
    }
  }
  

  .section5 {
    padding: 0 100px;
    color: var(--hight-ctr-txt-amber);
    width: 100vw;
    margin-top: 100px;
  }

  .section5 h2 {
    text-align: right;
    margin-right: 100px;
    color: var(--links-text-amber);
}

    .section5 h3 {
    text-align: right;
    margin-right: 100px;
    color: var(--links-text-amber);
}

  .section5 p {
    font-family: roboto, sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 50px;
    text-align: justify;
  }

  .section5 a {
    text-decoration: none;
    color: var(--links-text-amber);
    font-size: 1.2em;
    font-weight: bolder;
}

  .section5 .centre {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: var(--hight-ctr-txt-amber);
    border-radius: 20px;
  }

  .centre .img-cont {
    width: 30%;
  }

  .img-cont img {
    width: 100%;
  }

  @media screen and (max-width: 800px){
    .centre .img-cont {
        width: 48%;
      }
    
  }

  @media screen and (max-width: 640px){
    .section5 {
        padding: 0 20px;
    }
  }

  .section6 {
    padding: 0 100px;
    color: var(--hight-ctr-txt-amber);
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .section6 h2 {
    text-align: right;
    margin-right: 100px;
    color: var(--links-text-amber);
}

    .section6 h3 {
    text-align: right;
    margin-right: 100px;
    color: var(--links-text-amber);
}

  .section6 p {
    font-family: roboto, sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 50px;
    text-align: justify;
  }

  .section6 a {
    text-decoration: none;
    color: var(--links-text-amber);
    font-size: 1.2em;
    font-weight: bolder;
}

  .section6 .middle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 0 100px;
  }

  .middle .img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .middle .img-cont img {
    border-radius: 20px;
  }

  .middle .img-cont:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .middle .img-cont:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .middle .img-cont:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media screen and (max-width: 800px){
    .section6 .middle {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0 100px;
      }

      .middle .img-cont {
        width: 100%;
      }
    
  }

  @media screen and (max-width: 640px){
    .section6 .middle {
        padding: 0;
      }

      .middle .img-cont {
        width: 100%;
      }

      .section6 {
        padding: 0 20px;
    }
    
  }