
:root {
    /* --white: #fff;
    --black: #000;
    --blackfade: #000000a2;
    --whiteBgOdd: rgb(240, 245, 218);
    --cyan: #0ff;
    --orange: #0ff;
    /* --orange: #F5B91D; 
    --shadowblue: #3B6CF5; */

    /* Backgrounds */
    --bg-cyan: #0B161A;
    --bg-cyan-soft: #101B20;

    /* Secondary text, links */
    --links-text-cyan: #4CCCE6;

    /* High-contrast text */
    --hight-ctr-txt-cyan: #B6ECF7;

    /* Borders and separators */
    --cyan-border-h: #045468;
    --cyan-border-m: #12677E;

    /* Borders, focus rings, disabled text */
    --cyan-border-s: #11809C;

    /* Solid backgrounds, disabled text */
    --cyan-solid-h: #00A2C7;
    --cyan-solid-s: #23AFD0;

    /* Interactive components */
    --cyan-interactiveComp-h: #082C36;
    --cyan-interactiveComp-m: #003848;
    --cyan-interactiveComp-s: #004558;


    /* Backgrounds */
    --bg-amber: #16120C;
    --bg-amber-soft: #1D180F;

    /* Secondary text, links */
    --links-text-amber: #FFCA16;

    /* High-contrast text */
    --hight-ctr-txt-amber: #FFE7B3;

    /* Borders and separators */
    --amber-border-h: #5C3D05;
    --amber-border-m: #714F19;

    /* Borders, focus rings, disabled text */
    --amber-border-s: #8F6424;

    /* Solid backgrounds, disabled text */
    --amber-solid-h: #FFC53D;
    --amber-solid-s: #FFD60A;

    /* Interactive components */
    --amber-interactiveComp-h: #302008;
    --amber-interactiveComp-m: #3F2700;
    --amber-interactiveComp-s: #4D3000;
}

#section_5 {
    height: 100vh;
    /* background-color: transparent; */
    background-color: var(--bg-cyan);
    /* box-shadow: 0 0 15px var(--cyan-interactiveComp-h); */
}

#div_centre_sec5 {
    width: 86vw;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: transparent;
    /* box-shadow: 0 0 15px var(--black); */
    
}

#sec5_gauche {
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding-left: 50px;
}

#div_h1_sec5 {
    grid-row: 1/2;
}

#div_h1_sec5 h1 {
    font-size: 45px;
    font-family: "Roboto";
    color: var(--links-text-cyan);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 4vh;
    grid-row: 1/2;
}

#div_h1_sec5 h1::before {
    color: var(--bg-cyan-soft);
    border-width: 2px;
    box-shadow: 0 0 15px var(--cyan-interactiveComp-s);
}

#sec5_gauche p {
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--hight-ctr-txt-cyan);
    line-height: 1.2;
    text-align: left;
    align-self: center;
    grid-row: 2/3;
}

#sec5_droite {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

#div_img_sec5 img {
    width: 214px;
}

#sec5_droite p {
    font-size: 6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--hight-ctr-txt-cyan);
    font-weight: bold;
    line-height: 1.2;
}

@media screen and (width <= 1280px) {

    #section_5 {
        height: auto;
    }


    #div_centre_sec5 {
        display: flex;
        flex-direction: column;
    }

    #sec5_gauche {
        padding-right: 50px;
    }

    #sec5_gauche p {
        text-align: center;
        font-size: 3em;
    }

    #sec5_droite {
        margin-bottom: 50px;
    }

    #sec5_droite p {
        font-size: 5em;
    }

}

@media screen and (width <= 800px) {
    #div_h1_sec5 h1{
        font-size: 30px;
    }

    #div_h1_sec5 h1::before {
        border-radius: 50%;
        padding: 5px 15px;
    }

    #sec5_gauche p {
        text-align: center;
        font-size: 2em;
    }

    #sec5_droite p {
        font-size: 4em;
    }
}
