
:root {
    /* --white: #fff;
    --black: #000;
    --blackfade: #000000a2;
    --whiteBgOdd: rgb(240, 245, 218);
    --cyan: #0ff;
    --orange: #0ff;
    /* --orange: #F5B91D; 
    --shadowblue: #3B6CF5; */

    /* Backgrounds */
    --bg-cyan: #0B161A;
    --bg-cyan-soft: #101B20;

    /* Secondary text, links */
    --links-text-cyan: #4CCCE6;

    /* High-contrast text */
    --hight-ctr-txt-cyan: #B6ECF7;

    /* Borders and separators */
    --cyan-border-h: #045468;
    --cyan-border-m: #12677E;

    /* Borders, focus rings, disabled text */
    --cyan-border-s: #11809C;

    /* Solid backgrounds, disabled text */
    --cyan-solid-h: #00A2C7;
    --cyan-solid-s: #23AFD0;

    /* Interactive components */
    --cyan-interactiveComp-h: #082C36;
    --cyan-interactiveComp-m: #003848;
    --cyan-interactiveComp-s: #004558;


    /* Backgrounds */
    --bg-amber: #16120C;
    --bg-amber-soft: #1D180F;

    /* Secondary text, links */
    --links-text-amber: #FFCA16;

    /* High-contrast text */
    --hight-ctr-txt-amber: #FFE7B3;

    /* Borders and separators */
    --amber-border-h: #5C3D05;
    --amber-border-m: #714F19;

    /* Borders, focus rings, disabled text */
    --amber-border-s: #8F6424;

    /* Solid backgrounds, disabled text */
    --amber-solid-h: #FFC53D;
    --amber-solid-s: #FFD60A;

    /* Interactive components */
    --amber-interactiveComp-h: #302008;
    --amber-interactiveComp-m: #3F2700;
    --amber-interactiveComp-s: #4D3000;
}

strong {
    font-family: "nunito", sans-serif;
}

#section_1 {
    height: 100vh;
    /* background-color: transparent; */
    background-color: var(--bg-cyan);
    /* box-shadow: 0 0 15px var(--cyan-interactiveComp-h); */
}

#div_centre_sec1 {
    width: 86%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: transparent;
    /* box-shadow: 0 0 15px var(--black); */
}

#sec1_gauche {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 9fr;
    padding: 20px 0;
    padding-left: 50px;
}

#div_h1_sec1 {
    grid-row: 1/2;
}

#sec1_gauche h1 {
    font-size: 2.5em;
    font-family: "nunito", sans-serif;
    color: var(--links-text-cyan);
    font-weight: bold;
    line-height: 1.2;
}

#sec1_gauche h1::before {
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);
    box-shadow: 0 0 15px var(--cyan-interactiveComp-h);
    border-radius: 50%;
    padding: 5px 19px;
    border-width: 2px;
}

#div_all_services_sec1 {
    grid-row: 2/3;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: space-around;
}

.div_services_sec1 {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 20px;
    background-color: transparent;
    width: 30%;
    aspect-ratio: 1/1;
}

#sec1_service_haut {
    z-index: 3;
}

#sec1_service_centre {
    align-self: center;
    z-index: 2;
}

#sec1_service_bas {
    z-index: 1;
}

#sec1_droite {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 10vh;
}

#sec1_droite p {
    font-size: 35px;
    font-family: "lato", sans-serif;
    color: var(--hight-ctr-txt-cyan);
    line-height: 1.2;  
    text-align: center; 
}

#btn_voirplus_sec1 {
    border-width: 4px;
    border-color: var(--cyan-border-s);
    border-style: solid;
    border-radius: 20px;
    background-color: transparent;
    padding: 7px 30px;
    font-size: 1.7em;
    margin: 0 auto;
    font-family: "lato", sans-serif;
    color: var(--links-text-cyan);
    font-weight: bold;
    line-height: 1.2;
    box-shadow: 0 0 15px var(--cyan-interactiveComp-s);
    transition: 0.3s ease;
    text-align: center;
    text-decoration: none;
}

#btn_voirplus_sec1:hover {
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);
    cursor: pointer;
}

#btn_voirplus_sec1:active {
    box-shadow: 0px 0px 7px 0px var(--cyan-interactiveComp-s);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

@media screen and (width <= 1280px) {

    #section_1 {
        height: auto;
    }

    #div_centre_sec1 {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    #sec1_gauche {
        order: 1;
        padding: auto;
        padding-right: 50px;
    }

    #div_all_services_sec1 {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .div_services_sec1 {
        width: 33.33%;
        float: left;
    }

    #div_all_services_sec1::after {
        content: "";
        clear: both;
        display: table;
    }

    #sec1_droite {
        order: 2;
        margin-bottom: 50px;
    }
    
}

@media screen and (width <= 800px) {

    #div_all_services_sec1 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        height: auto;
    }

    #div_centre_sec1 {
        gap: 20px;
    }

    #div_h1_sec1 h1{
        font-size: 30px;
        grid-row: 1/2;
    }

    #div_h1_sec1 h1::before {
        border-radius: 50%;
        padding: 5px 15px;
    }

    #sec1_gauche {
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .div_services_sec1 {
        width: 100%
    }

    #sec1_droite p {
        font-size: 1.2em;
    }
}

@media screen and (width <= 640px) {
    /* #div_all_services_sec1 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        height: auto;
    } */

    #sec1_gauche {
        padding-left: 20px;
        padding-right: 20px;
    }
}