
:root {
    /* --white: #fff;
    --black: #000;
    --blackfade: #000000a2;
    --whiteBgOdd: rgb(240, 245, 218);
    --cyan: #0ff;
    --orange: #0ff;
    /* --orange: #F5B91D; 
    --shadowblue: #3B6CF5; */

    /* Backgrounds */
    --bg-cyan: #0B161A;
    --bg-cyan-soft: #101B20;

    /* Secondary text, links */
    --links-text-cyan: #4CCCE6;

    /* High-contrast text */
    --hight-ctr-txt-cyan: #B6ECF7;

    /* Borders and separators */
    --cyan-border-h: #045468;
    --cyan-border-m: #12677E;

    /* Borders, focus rings, disabled text */
    --cyan-border-s: #11809C;

    /* Solid backgrounds, disabled text */
    --cyan-solid-h: #00A2C7;
    --cyan-solid-s: #23AFD0;

    /* Interactive components */
    --cyan-interactiveComp-h: #082C36;
    --cyan-interactiveComp-m: #003848;
    --cyan-interactiveComp-s: #004558;


    /* Backgrounds */
    --bg-amber: #16120C;
    --bg-amber-soft: #1D180F;

    /* Secondary text, links */
    --links-text-amber: #FFCA16;

    /* High-contrast text */
    --hight-ctr-txt-amber: #FFE7B3;

    /* Borders and separators */
    --amber-border-h: #5C3D05;
    --amber-border-m: #714F19;

    /* Borders, focus rings, disabled text */
    --amber-border-s: #8F6424;

    /* Solid backgrounds, disabled text */
    --amber-solid-h: #FFC53D;
    --amber-solid-s: #FFD60A;

    /* Interactive components */
    --amber-interactiveComp-h: #302008;
    --amber-interactiveComp-m: #3F2700;
    --amber-interactiveComp-s: #4D3000;
}

#section_2 {
    /* background-color: var(--whiteBgOdd); */
    min-height: 100vh;
    width: 100vw;
    background: transparent;
    /* box-shadow: 0 0 15px var(--white);  */
}

#div_centre_sec2 {
    width: 86vw;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

#div_h1_sec2 {
    grid-row: 1/2;
    margin-top: 20px;
}

#div_pro_sec2 {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.div_projets_sec2_lat {
    border-width: 1px;
    border-color: var(--cyan-border-h);
    border-style: none;
    border-radius: 20px;
    background-color: var(--cyan-solid-h);
    width: 100%;
    aspect-ratio: 1/1;
}

#sec2_projet_gauche {
    grid-column: 1/2;
    align-self: center;
}

#sec2_projet_centre {
    border-width: 2px;
    border-color: var(--cyan-border-h);
    border-style: none;
    border-radius: 20px;
    background-color: var(--cyan-solid-h);;
    width: 100%;
    aspect-ratio: 1/1;
    grid-column: 2/3;
    align-self: center;
}

#sec2_projet_droite {
    grid-column: 3/4;
    align-self: center;
}

#div_h1_sec2 h1 {
    font-size: 45px;
    font-family: "nunito", sans-serif;
    color: var(--links-text-cyan);;
    font-weight: bold;
    line-height: 1.2;
    align-content: center;
    text-align: end;
}

#div_h1_sec2 h1::before {
    color: var(--links-text-cyan);;
    background-color: transparent;
    box-shadow: 0 0 15px var(--cyan-interactiveComp-s);;
    border-width: 2px;
}

@media  screen and ( width <= 1280px) {
    #div_h1_sec2 {
        margin-top: 50px;
    }

    #section_2 {
        height: auto;
    }

    #div_centre_sec2 {
        height: auto;
        gap: 10px;
    }

    #div_pro_sec2 {
        display: block;
        align-content: center;
    }

    .div_projets_sec2_lat {
        display: none;
    }

    #sec2_projet_centre {
        width: 100%;
        margin-bottom: 50px; 
    }
}

@media screen and (width <= 800px) {

    #div_h1_sec2 {
        margin-top: 20px;
    }
    #div_h1_sec2 h1{
        font-size: 30px;
        grid-row: 1/2;
    }

    #div_h1_sec2 h1::before {
        border-radius: 50%;
        padding: 5px 15px;
    }

    .div_projets_sec2_lat {
        display: block;
        width: 100%;
    }

    #sec2_projet_centre {
        margin-bottom: 0;  
    }

    #sec2_projet_droite {
        margin-bottom: 50px;  
    }
}