
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* --white: #fff;
    --black: #000;
    --blackfade: #000000a2;
    --whiteBgOdd: rgb(240, 245, 218);
    --cyan: #0ff;
    --orange: #0ff;
    /* --orange: #F5B91D; 
    --shadowblue: #3B6CF5; */

    /* Backgrounds */
    --bg-cyan: #0B161A;
    --bg-cyan-soft: #101B20;

    /* Secondary text, links */
    --links-text-cyan: #4CCCE6;

    /* High-contrast text */
    --hight-ctr-txt-cyan: #B6ECF7;

    /* Borders and separators */
    --cyan-border-h: #045468;
    --cyan-border-m: #12677E;

    /* Borders, focus rings, disabled text */
    --cyan-border-s: #11809C;

    /* Solid backgrounds, disabled text */
    --cyan-solid-h: #00A2C7;
    --cyan-solid-s: #23AFD0;

    /* Interactive components */
    --cyan-interactiveComp-h: #082C36;
    --cyan-interactiveComp-m: #003848;
    --cyan-interactiveComp-s: #004558;


    /* Backgrounds */
    --bg-amber: #16120C;
    --bg-amber-soft: #1D180F;

    /* Secondary text, links */
    --links-text-amber: #FFCA16;

    /* High-contrast text */
    --hight-ctr-txt-amber: #FFE7B3;

    /* Borders and separators */
    --amber-border-h: #5C3D05;
    --amber-border-m: #714F19;

    /* Borders, focus rings, disabled text */
    --amber-border-s: #8F6424;

    /* Solid backgrounds, disabled text */
    --amber-solid-h: #FFC53D;
    --amber-solid-s: #FFD60A;

    /* Interactive components */
    --amber-interactiveComp-h: #302008;
    --amber-interactiveComp-m: #3F2700;
    --amber-interactiveComp-s: #4D3000;
}

main {
    overflow: hidden;
}

.left-hidden-element {
    opacity: 0;
    transform: translateX(-50vw); /* Déplace vers le bas pour l'effet de transition */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .lite-left-hidden-element {
    opacity: 0;
    transform: translateX(-100px); /* Déplace vers le bas pour l'effet de transition */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .right-hidden-element {
    opacity: 0;
    transform: translateX(800px); /* Déplace vers le bas pour l'effet de transition */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .lite-right-hidden-element {
    opacity: 0;
    transform: translateX(100px); /* Déplace vers le bas pour l'effet de transition */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .visible {
    opacity: 1;
    transform: translateX(0); /* Remet en place */
  }


  .bottom-hidden-element {
    opacity: 0;
    transform: translateY(10%); /* Déplace vers le bas pour l'effet de transition */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .lite-bottom-hidden-element {
    opacity: 0;
    transform: translateY(100px); /* Déplace vers le bas pour l'effet de transition */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .lite-top-hidden-element {
    opacity: 0;
    transform: translateY(-100px); /* Déplace vers le bas pour l'effet de transition */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .bottom-visible {
    opacity: 1;
    transform: translateY(0); /* Remet en place */
  }

body {
    counter-reset: titres;
    background: var(--bg-cyan-soft);
    scroll-behavior: smooth;
}

header {
     background: url('../../imgs/head_back.svg') center no-repeat;
     background-size: cover; 
}

h1::before {
    counter-increment: titres;
    content: counter(titres) ;
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    padding: 5px 19px;
    margin-right: 10px;
    box-shadow: 0px 0px 15px 0px var(--cyan-interactiveComp-h);
    background-color: var(--cyan-solid-h);
    color: var(--links-text-cyan);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: transparent;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    border: none;
}

.logo {
    float: left;
    height: 60px;
    aspect-ratio: 1/1;
}

.logo::after {
    content: "";
    display: table;
    clear: both;
}

.logo img {
    height: 60px;
    aspect-ratio: 1/1;
}

nav ul li {
    display: inline-block;
}

.dropdown-services {
    position: relative;
}

.dropdown-services-content {
    display: none;
    position: absolute;
    min-width: 500px;
    padding: 10px;
    background-color: var(--bg-cyan-soft);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px var(--cyan-interactiveComp-h);
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
}

.dropdown-services-content a {
    color: var(--links-text-cyan);
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.dropdown-services-content a svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

.dropdown-services-content a span {
    text-align: left;
    flex: 80%;
}

.dropdown-services-content div {
    width: 50%;
}

.dropdown-services a:not(.dropdown-services>a):hover {
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);
}

.dropdown-services-content a::after {
    display: none;
}

.dropdown-services:hover .dropdown-services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-services-content a:active {
    background-color: var(--bg-cyan-soft);
    color: var(--links-text-cyan);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-cyan-soft);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px var(--cyan-interactiveComp-h);
    z-index: 3;
    backdrop-filter: blur(10px);
}

nav ul li a, .dropdown-content a {
    display: block;
    padding: 16px 18px;
    text-decoration: none;
    font-family: "nunito", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--links-text-cyan);
    text-align: center;
    transition: 0.3s ease-in-out;
    line-height: normal;
    position: relative;
}

.actif {
    color: var(--cyan-solid-h);
    text-shadow: -1px 0 var(--cyan-border-h), 0 1px var(--cyan-border-h), 1px 0 var(--cyan-border-h), 0 -1px var(--cyan-border-h);
}

.actif::after {
    width: 100%;
}

#dc-first {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

#dc-first svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

#dc-first span {
    flex: 80%;
    text-align: center;
}

#dc-last {
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

#dc-last svg {
    width: 30px;
    height: 30px;
    flex: 20%;
}

#dc-last span {
    flex: 80%;
    text-align: center;
}

nav ul li a:hover {
    color: var(--cyan-solid-h);
}

nav ul li a::after{
    content: "";
    position: absolute;
    background-color: var(--cyan-solid-h);
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    transition: 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:active {
    color: var(--cyan-interactiveComp-h);
}

.dropdown-content a {
    color: var(--links-text-cyan);
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);
}

.dropdown-content a::after{
    display: none;
}

.dropdown-content a:active {
    background-color: var(--cyan-interactiveComp-h);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-design {
    position: relative;
}

.dropdown-design:hover .dropdown-design-content {
    display: block;
}

.dropdown-design-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-cyan-soft);
    border-radius: 10px;
    box-shadow: 5px 10px 15px 0px var(--cyan-interactiveComp-h);
    z-index: 3;
    backdrop-filter: blur(10px);
}

.dropdown-code {
    position: relative;
}

.dropdown-code:hover .dropdown-code-content {
    display: block;
}

.dropdown-code-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-cyan-soft);
    border-radius: 10px;
    box-shadow: 5px 10px 15px 0px var(--cyan-interactiveComp-h);
    z-index: 3;
    backdrop-filter: blur(10px);
}

#hire {
    border: 3px solid var(--cyan-border-h);
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);   
    text-shadow: none;
    border-radius: 50px;
    padding: 5px 15px;
    box-shadow: 0 0 15px 0 var(--cyan-interactiveComp-s);
}

#hire:hover {
    color: var(--links-text-cyan);
    background-color: var(--bg-cyan-soft);
    text-shadow: 0 0 15px var(--cyan-interactiveComp-m);
}

#hire:hover::after {
    width: 0;
}

#hire:active {
    box-shadow: 0px 0px 7px 0px var(----cyan-interactiveComp-s);
    transform: scale(0.95);
}

#end-ul {
    float: right;
}

.stack {
    display: none;
    aspect-ratio: 1/1;
    width: 40px;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
}

.stack div {
    height: 4px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    background-color: var(--cyan-solid-h);
    transition: .3s ease;
}

.stack:hover div {
    background-color: var(--cyan-solid-s);
}

.stack.active #stack_t {
    transform: rotate(45deg);
    top: calc(50% - 2px);
}

.stack.active #stack_m {
    opacity: 0;
}

.stack.active #stack_b {
    transform: rotate(-45deg);
    bottom: calc(50% - 2px);
}

#stack_t {
    top: 2px;
}

#stack_m {
    top: calc(50% - 2px);
}

#stack_b {
    bottom: 2px;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

#head-back {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 9fr 1fr;
    padding: 0 100px;
    width: 100%;
    overflow: hidden;
}

/*.back-clip {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

@media (min-aspect-ratio:16/9) {
    .back-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .back-clip {
        width: auto;
        height: 100%;
    }
}*/

#head-left {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    position: relative;
}

#bg_blur {
    margin-top: 60px;
    background: #101b20ce;
    height: 90%;
    width: 100%;
    z-index: 0;
    border-radius: 50px;
    filter: blur(10px);
}

#back_hleft {   
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    color: var(--hight-ctr-txt-cyan);
    font-family: "lato", sans-serif;  
    z-index: 0;
    backdrop-filter: blur(10px);
}

/* <uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 400 to 700

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

#back_hleft h2 {
    font-size: 2em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: left;
    font-style: normal;  
    color: var(--links-text-cyan);  
}

#back_hleft h2 span{
    font-size: clamp(2.5rem, 3.5vw, 3.1em);
    text-shadow: 0 0 15px var(--cyan-interactiveComp-h);
    font-family: "nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#back_hleft p {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;  
    margin-top: 20px;
}

#back_hleft ul {
    padding-left: 2vw;
    margin-bottom: 20px;
}

#back_hleft ul li p{
    font-size: 1em;
    font-family: "lato", sans-serif; 
    font-weight: normal;
}

#back_hleft > ul li p strong {
    font-weight: bold;
}

#back_hleft > ul li:last-of-type p {
    font-weight: bold;
}

#back_hleft #account {
    display: flex;
    justify-content: space-around;
}

#back_hleft #account #div_btn a {
    padding: 10px 0;  
    font-family: "nunito", sans-serif;
    font-size: 1.2em;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 0px var(--cyan-interactiveComp-h);
    border: 3px solid var(--cyan-border-m);
    background-color: transparent;
    color: var(--links-text-cyan);
    font-weight: bold;
    justify-self: end;
    width: 233px;
    transition: 0.3s ease;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.profil::after,  .profil::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), transparent, var(--cyan-solid-s) 50%, transparent 50%, var(--cyan-solid-h));
    box-sizing: content-box;
    padding: 10px;
    z-index: -1;
    border-radius: 50%;
    animation: spin 5s linear infinite;
}

.profil::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

#back_hleft #account #div_btn a:hover {
    cursor: pointer;
    background-color: var(--links-text-cyan);
    color: var(--bg-cyan-soft);
}

#back_hleft #account #div_btn a:active {
    box-shadow: 0px 0px 10px 0px var(--cyan-interactiveComp-h);
    transform: scale(0.95);
}

#div_social {
    display: flex;
    justify-content: space-between;
}

#div_social .socials {
    align-self: center;
    transform: scale(0.7);
    transition: 0.3s ease;
}

#div_social .socials svg {
    width: 50px;
    height: 50px;
}

#div_social .socials:hover {
    transform: scale(0.9);
    transform: translateY(-10px);
}

#div_social .socials:active {
    transform: scale(0.8);
    transform: translateY(-7px);
}

#head-right {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    align-content: center;   
}

.profil {
    box-shadow: 0 0 50px 0 var(--cyan-interactiveComp-s);
    border-radius: 50%;
    width: 350px;
    aspect-ratio: 1/1;
    margin: auto;
    background: url('imgs/cosite.png') center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil:hover {
    transform: scale(1.2);
}

.profil img {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    z-index: 2;
}

#head_bottom {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
}

#head_bottom div span {
    font-weight: bold;
    font-family: "nunito", sans-serif;
    font-size: 3em;
    line-height: 1em;
    color: var(--links-text-cyan);
}

#head_bottom div p {
    display: inline-block;
    color: var(--hight-ctr-txt-cyan);
    font-family: "lato", sans-serif; 
}

@media screen and (width <= 1280px) {

    nav {
        width: 100%;
        background-color: #333;
        transform: translateY(-800px);
        transition: transform 0.6s ease-out;
    }

    nav.active {
        transform: translateY(0);
    }

    nav ul {
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
        background-color: var(--bg-cyan-soft);
    }

    nav ul li {
        display: block;  
        background-color: var(--bg-cyan-soft);
    }

    nav ul li a{
        text-align: center;
        border-radius: 10px;
        font-size: 1.5em;
    }

    nav ul li a::after {
        display: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown-services:hover .dropdown-services-content {
        display: none;
    }

    #end-ul {
        float: none;
    }

    .logo {
        display: none;
    }

    .stack {
        display: block;
        z-index: 1;
    }






    header {
        height: auto;
    }


    #head-back {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        position: relative;
        justify-content: center;
        height: auto;
        justify-content: space-between;
    }

    #head-left {
        justify-content: center;
        order: 2;
        height: auto;
        display: block;
    }

    #bg_blur {
        height: 100%;
        width: 100%;
    }

    #back_hleft {
        width: auto;
        margin: auto;
        position: static;
        transform: none
    }

    #back_hleft ul {
        padding-left: 2vw;
    }

    #back_hleft #account #div_btn {
        align-content: center;
    }

    #back_hleft a {
        align-self: flex-end;
    }

    #head-right {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 1;
    }

    #head-right img {
        transition: none
    }

    .profil {
        width: 350px;
    }

    .profil:hover {
        transform: none;
    }

    #head_bottom {
        order: 3;
    }

    #account {
        margin-bottom: 50px;
    }

}

@media  screen and (width <= 1024px) {
    #back_hleft {
        gap: 50px;
    }

    .profil {
        width: 350px;
    }
    
}

@media screen and (width <= 800px) {
    #head-back {
        padding-bottom: 0;
    }

    #head_bottom {
        margin-bottom: 50px;
    }

    #head-left h2 {
        font-size: 1.8em;  
        text-align: center;
    }

    .profil {
        width: 250px;
    }

    #back_hleft #account {
        flex-direction: column;
        /*display: flex;
        justify-content: space-around;*/
    }

    #back_hleft #account #div_btn {
        display: flex;
        justify-content: center;
    }

    #div_social {
        padding-bottom: 20px;
    }
    
    #back_hleft #account #div_btn {
        align-content: center;
    }

    #back_hleft #account #div_btn a {
        margin-bottom: 20px;
    }
    
    #back_hleft #account #div_btn a  {
        padding: 14px 16px;  
        font-size: 1em;
        width: 250px;
    }

    #head_bottom div span {
        font-size: 2.5em;
    }

    #head_bottom div p {
        font-size: 0.6em;
    }

    #account {
        margin-bottom: 0;
    }
    
}

@media screen and (max-width: 640px) {
    .stack {
        width: 30px;
    }

    .profil {
        width: 200px;
        margin: 0;
    }

    .profil::after,  .profil::before {
        padding: 5px;
    }

    #head-back {
        padding-top: 10vh;
    }

    #back_hleft p {
        margin-top: 0;
    }

    #back_hleft p:nth-of-type(3) {
        margin-top: 20px;
    }
    
    #back_hleft ul {
        margin-bottom: 0px;
    }

    #back_hleft {
        gap: 10px;
    }

}

#barre_etat_body {
    border-width: 2px;
    border-color: var(--cyan-border-s);
    border-style: solid;
    background-color: var(--cyan-solid-s);
    width: 100%;
    height: 1.4vh;  
}



/* ########################################################## */



footer {
    border-top-width: 1px;
    border-top-color: var(--cyan-border-h);
    border-top-style: solid;
    background-color: var(--bg-cyan-soft);
    height: 30vh;
    align-content: center;
}

footer p {
    font-size: 1.2em;
    font-family: "lato", sans-serif;
    color: var(--hight-ctr-txt-cyan);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

@media screen and (width <= 800px) {
    footer p {
        font-size: 1em;
    }
}