
:root {
    /* --white: #fff;
    --black: #000;
    --blackfade: #000000a2;
    --whiteBgOdd: rgb(240, 245, 218);
    --cyan: #0ff;
    --orange: #0ff;
    /* --orange: #F5B91D; 
    --shadowblue: #3B6CF5; */

    /* Backgrounds */
    --bg-cyan: #0B161A;
    --bg-cyan-soft: #101B20;

    /* Secondary text, links */
    --links-text-cyan: #4CCCE6;

    /* High-contrast text */
    --hight-ctr-txt-cyan: #B6ECF7;

    /* Borders and separators */
    --cyan-border-h: #045468;
    --cyan-border-m: #12677E;

    /* Borders, focus rings, disabled text */
    --cyan-border-s: #11809C;

    /* Solid backgrounds, disabled text */
    --cyan-solid-h: #00A2C7;
    --cyan-solid-s: #23AFD0;

    /* Interactive components */
    --cyan-interactiveComp-h: #082C36;
    --cyan-interactiveComp-m: #003848;
    --cyan-interactiveComp-s: #004558;


    /* Backgrounds */
    --bg-amber: #16120C;
    --bg-amber-soft: #1D180F;

    /* Secondary text, links */
    --links-text-amber: #FFCA16;

    /* High-contrast text */
    --hight-ctr-txt-amber: #FFE7B3;

    /* Borders and separators */
    --amber-border-h: #5C3D05;
    --amber-border-m: #714F19;

    /* Borders, focus rings, disabled text */
    --amber-border-s: #8F6424;

    /* Solid backgrounds, disabled text */
    --amber-solid-h: #FFC53D;
    --amber-solid-s: #FFD60A;

    /* Interactive components */
    --amber-interactiveComp-h: #302008;
    --amber-interactiveComp-m: #3F2700;
    --amber-interactiveComp-s: #4D3000;
}

#section_3 {
    height: auto;
    /* background-color: transparent; */
    background: var(--bg-cyan);
    /* box-shadow: 0 0 15px var(--cyan-interactiveComp-s); */
}

#div_centre_sec3 {
    width: 86vw;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #000000b7; */
    /* box-shadow: 0 0 15px var(--black); */
    background-color: transparent;
    gap: 50px;
    
}

#sec3_gauche {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 9fr;
    padding-left: 50px;
}

#div_h1_sec3 {
    grid-row: 1/2;
    margin-top: 20px;
}

#div_h1_sec3 h1 {
    font-size: 45px;
    font-family: "nunito", sans-serif;
    color: var(--links-text-cyan);;
    font-weight: bold;
    line-height: 1.2;
}


#div_h1_sec3 h1::before {
    background-color: var(--links-text-cyan);
    color: var(--bg-amber-soft);;
    box-shadow: 0 0 15px var(--cyan-interactiveComp-s);
}

#div_process {
    margin-bottom: 50px;
    position: relative;
    align-content: center;
}

#prohaut {
    border-width: 2px;
    border-color: var(--cyan-border-h);
    border-style: none;
    background: url('../../imgs/process_design.svg') center no-repeat;
    background-size: cover;
    width: 45%;
    aspect-ratio: 1/1;
    float: right;
}

#procentre {
    border-width: 2px;
    border-color: var(--cyan-border-h);
    border-style: none;
    background: url('../../imgs/process2.svg') 80% center no-repeat;
    background-size: cover;
    width: 40%;
    aspect-ratio: 1/1;
    clear: both;
    margin: auto;

}

#probas {
    border-width: 2px;
    border-color: var(--cyan-border-h);
    border-style: none;
    background-color: transparent;
    width: 35%;
    aspect-ratio: 1/1;
    float: left;
}

#div_process::after {
    content: "";
    display: table;
    clear: both;
}

#sec3_droite {
    grid-column: 2/3;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

#sec3_droite p {
    font-size: 35px;
    font-family: "lato", sans-serif;
    color: var(--hight-ctr-txt-cyan);
    line-height: 1.2;
    text-align: center;
}

#btn_plus_sec3 {
    border-width: 4px;
    border-color: var(--cyan-border-s);
    border-style: solid;
    border-radius: 20px;
    padding: 7px 30px;
    font-size: 1.7em;
    font-family: "lato", sans-serif;
    color: var(--links-text-cyan);
    font-weight: bold;
    line-height: 1.2;
    box-shadow: 0 0 15px var(--cyan-interactiveComp-s);
    background-color: transparent;
    transition: 0.3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

#btn_plus_sec3:hover {
    background-color: var(--links-text-cyan);
    color: var(--bg-amber-soft);
    cursor: pointer;
}

#btn_plus_sec3:active {
    box-shadow: 0px 0px 7px 0px var(--cyan-interactiveComp-s);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

@media screen and (width <= 1280px) {
    #div_centre_sec3 {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }

    #sec3_gauche {
        padding-right: 50px;
    }
    
    #sec3_droite {
        margin-bottom: 50px;
    }
}

@media screen and (width <= 800px) {

    #sec3_gauche {
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 1fr 3fr;
        padding-right: 20px;
        padding-left: 20px;
    }

    #div_h1_sec3 h1{
        font-size: 30px;
        grid-row: 1/2;
    }

    #div_h1_sec3 h1::before {
        border-radius: 50%;
        padding: 5px 15px;
    }

    #div_process {
        grid-row: 2/3;
    }

    #prohaut {
        width: 70%;
    }
    
    #procentre {
        width: 70%;
    }
    
    #probas {
        width: 50%;
    }

    #sec3_droite p {
        font-size: 1.2em;
    }

}